<div itemprop="articleBody" class="card">
	{{#if feature_image}}
    <div class="card-image">
			<img src="{{feature_image}}" alt="">
		</div>
	{{/if}}

	<div class="card-content">
		<!-- card title and description -->
		<div class="card-info">
			<p class="flow-text">{{title}}</p>
			<p>{{content}}</p>
		</div>
		<!-- date and tags -->
		<div class="row card-meta">
			<div class="col s4 date">
				<a class="tooltipped" data-position="top" data-delay="100" data-tooltip="{{date timeago='true'}}" datetime="{{date format="MMMM YYYY"}}">
					<time itemprop="datePublished">
						{{date published_at format='MMMM YYYY'}}
					</time>
				</a>
			</div>
			<div class="col s8 right-align">
				{{#if tags}}
					{{#foreach tags}}
						<div class="chip">{{name}}</div>
					{{/foreach}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
