<header>{{title}}</header>
<div itemprop="articleBody">
	{{#if feature_image}}
    <section class="post-image">
			<!--<a href="{{{url}}}" class="post-image"> or double curyly? -->
        <img src="{{feature_image}}" alt="">
      <!--</a>-->
		</section>
	{{/if}}

	<section class="post-content">
		{{content}}
		<!--{{!excerpt words=10}}…-->
	</section>

	<section class="post-meta">
		<span class="date">
			<i class="fa fa-clock-o"></i>
			<time class="date_uber" title="{{date timeago='true'}}" datetime="{{date format="MMMM YYYY"}}" itemprop="datePublished">
				{{date published_at format='MMMM YYYY'}}
			</time>
		</span>
		{{#if tags}}
			<span class="tags">
				<i class="fa fa-tags"></i>
				<span>
					{{tags prefix="" separator=" | "}}
				</span>
			</span>
		{{/if}}
	</section>
  <!-- TITLE unused -->
	<!-- author.name unused -->
</div>
