<div itemprop="articleBody" class="card">
	{{#if feature_image}}
    <div class="card-image">
			<img src="{{feature_image}}" alt="">
		</div>
	{{/if}}

	<div class="card-content">
		<!-- card title and description -->
		<div class="card-info">
			<h2 class="flow-text">{{title}}</h2>
			{{content}}
		</div>
		<!-- date and tags -->
		<div class="row card-meta">
			<div class="col s4 date">
				<time itemprop="datePublished" datetime="{{date format="YYYY-MM-DD"}}">
					{{date published_at format="MMMM YYYY"}}
				</time>
			</div>
			<div class="col s8 right-align">
				{{#if tags}}
					{{#foreach tags}}
						<div class="chip">{{name}}</div>
					{{/foreach}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
