<nav class="white black-text center pagination" role="navigation">
	<ul >

		<li {{^if prev}}class="disabled"{{/if}}>
			<a href="{{#if prev}}{{page_url prev}}{{else}}#!{{/if}}">
				<i class="material-icons ">chevron_left</i>
			</a>
		</li>
		<li>{{page}}</li>
		<li>/</li>
		<li>{{pages}}</li>
		<li {{^if next}}class="disabled"{{/if}}>
			<a href="{{#if next}}{{page_url next}}{{else}}#!{{/if}}">
				<i class="material-icons ">chevron_right</i>
			</a>
		</li>
	</ul>
</nav>
