{{!< default}}

<nav class="white black-text center-align" role="navigation">
	<ul class="pagination">

		<li {{^if prev}}class="disabled"{{/if}}>
			<a href="{{#if prev}}{{page_url prev}}{{else}}#!{{/if}}">
				<i class="material-icons ">chevron_left</i>
			</a>
		</li>
		<li>{{page}}</li>
		<li>/</li>
		<li>{{pages}}</li>
		<li {{^if next}}class="disabled"{{/if}}>
			<a href="{{page_url next}}">
				<i class="material-icons ">chevron_right</i>
			</a>
		</li>
	</ul>
</nav>
