<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>

	<link type="text/css" href="{{asset 'css/style.css'}}" rel="stylesheet">
	<link type="text/css" href="{{asset 'css/materialize.min.css'}}" rel="stylesheet">
	
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="{{asset 'js/materialize.min.js'}}"></script>
</body>
</html>
